<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="styles/css/bootstrap.min.css">
<script src="scripts/angular.min.js"></script>
<style type="text/css">
    body{
      margin: 50px 200px;
      width: 100%;
    }
    </style>
</head>
<body ng-app="myNoteApp">
  <div ng-controller="myNoteCtrl">
  <h2>我的笔记</h2>
  <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
  <p>
    <button ng-click="save()">保存</button>
    <button ng-click="clear()">清除</button>
  </p>
  <p>Number of characters left: <span ng-bind="left()"></span></p>
  </div>
<script src="scripts/myNoteApp.js"></script>
<script src="scripts/myNoteCtrl.js"></script>
</body>
</html>